<html>

<head>
    <title>A Multiplayer Game</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/public/style.css">
    <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">

</head>

<body>

    <div class="header">
        <h1>My game</h1>
        <p>A <b>responsive</b> website created by me.</p>
    </div>

    <div class="row">
        <div class="side">

            <div class="card">
                <h2>Welcome to test game</h2>
                <p>For gaming you can use WASD</p>
            </div>

        </div>
        <div class="main">
            <canvas id="canvas"></canvas>
        </div>
        <div class="side">
            <div class="card">
                <h2>TODO: Player stats</h2>

                <table id="info">

                </table>
            </div>
        </div>
    </div>

    <div class="footer">
        <h2>Footer</h2>
    </div>
</body>
<script src="../public/game.js"></script>

</html>