/* TODO: Разметка для мобилок */

* {
    box-sizing: border-box;
    font-family: 'Kalam';

  }

  body {
    background-color: white;
  }
  
  /* Create three equal columns that floats next to each other */
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  #canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-color: gray; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 400;
    height: 400; 
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    padding: 20px;
    background-color: #fbc02d;
    /* color: white; */
  }
/* Header/logo Title */
.header {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 1%;
  text-align: center;
  background: #fbc02d;
  /* color: white; */
  
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */


/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 1%;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 33%;
  /* background-color: #f1f1f1; */
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 33%;
  /* background-color: white; */
  padding: 20px;
  padding: 1%;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-color: #fbc02d;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1080px) {
  .row {   
    flex-direction: column;
  }
  #canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-color: gray; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 600;
    height: 600;  
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

/* TABLE */
#info {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#info td, #info th {
  
  padding: 8px;
}

#info th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}